* {
  box-sizing: border-box;
  font-family: "Pavanam", sans-serif;
}

.fixed {
  position: fixed;
  background-color: white;
  width: 100%;
  padding: 0;
  padding-top: 3px;
}

.top_bar {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 25px;
}

.header {
  display: inline-block;
  float: left;
  padding: 2px;
  font-size: 16px;
}

.header a {
  text-decoration: none;
  color: #797979;
}

.header a:hover {
  color: rgba(129, 255, 247, 0.8);
  transition: color 0.3s, border 0.3s;
}

.header.logo {
  padding: 0;
}

.header.logo img {
  width: 40px;
  height: 30px;
  padding-left: 15px;
  padding-right: 5px;
  margin: 0;
}

.header.contact, .header.home, .header.pricing {
  padding: 3px 10px;
}

.banner {
  background-image: url("../images/background.jpg");
  background-size: cover;
  height: 300px;
  width: 100%;
  text-align: center;
}

.banner .banner_text {
  display: inline-block;
  width: 400px;
  margin: auto;
  padding-top: 110px;
  font-size: 40px;
  color: white;
  text-shadow: 1px 1px black;
}

.big_container {
  display: flex;
  width: 700px;
  margin: auto;
  padding-top: 35px;
}

.big_container .green_container {
  height: 430px;
  flex: 1;
  background-color: #519251;
  margin-right: 10px;
}

.big_container .blue_container {
  flex: 1;
  background-color: #2C4984;
}

.big_container .black_container {
  flex: 1;
  background-color: black;
  margin-left: 10px;
}

.big_container .colored {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  color: white;
  letter-spacing: 2px;
}

.big_container .gray {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  background-color: #F7F7F7;
  border: 0.8px solid #EBEBEB;
  color: #797979;
}

.big_container .per_month {
  font-style: normal;
  opacity: 0.65;
  letter-spacing: 0.6px;
}

.big_container .dollars {
  font-size: 54px;
  font-style: normal;
}

.big_container .choose {
  display: inline-block;
  margin: auto;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

.big_container .choose .button {
  display: inline-block;
  background: #FFFFFF;
  padding: 6px 15px;
  border-radius: 19px;
  color: rgba(0, 0, 0, 0.71);
  font-size: 14px;
  text-decoration: none;
  vertical-align: middle;
  width: 100px;
  font-weight: bold;
  border: 0.2px solid #dadada;
}

.big_container .behind_button {
  background-color: white;
  padding-bottom: 18px;
  border: 0.8px solid #EBEBEB;
}

.big_container .choose .button:hover {
  box-shadow: 0 0 20px rgba(129, 255, 247, 0.8);
  transition: box-shadow 0.3s, border 0.3s;
}

.text_container {
  display: flex;
  width: 650px;
  padding-top: 40px;
  margin: auto;
  color: #797979;
  line-height: 18px;
  font-size: 13px;
  padding-bottom: 30px;
}

.text_container .left_column {
  flex-direction: column;
  display: flex;
  flex: 1;
  margin-right: 10px;
}

.text_container .left_column .top_left {
  flex: 3;
}

.text_container .left_column .bottom_left {
  flex: 1;
}

.text_container .right_column {
  flex-direction: column;
  display: flex;
  flex: 1;
  margin-left: 10px;
}

.text_container .right_column .top_right {
  flex: 3;
}

.text_container .right_column .bottom_right {
  flex: 1;
}

.text_container p {
  color: black;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
}

.black_bar {
  display: inline-block;
  width: 100%;
  height: 70px;
  background-color: black;
}

.black_bar .try_now {
  color: #797979;
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
  font-size: 13px;
}

.black_bar .try_now a {
  color: white;
}
